<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tumo.fungame"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:name=".TumoGameApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tumo.fungame.activity.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>
        <activity
            android:name="com.tumo.fungame.activity.ManageDbActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_manage_db" >
        </activity>
        <activity
            android:name="com.tumo.fungame.activity.EditDbActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_edit_db" >
        </activity>
        <activity
            android:name="com.tumo.fungame.activity.SelectDbActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_select_db" >
        </activity>
        <activity
            android:name="com.tumo.fungame.activity.ViewAllActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_view_all" >
        </activity>
        <activity
            android:name="com.tumo.fungame.activity.AddPersonActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_add_person" >
        </activity>
        <activity
            android:name="com.tumo.fungame.activity.GuessPersonActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_guess_person" >
        </activity>
        <activity
            android:name="com.tumo.fungame.activity.LiveCardMenuActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/MenuTheme" >
        </activity>

        <service
            android:name="com.tumo.fungame.service.LiveCardService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>